ul {
  list-style-type: none;
  width: 100%;
  margin: auto;
}

.Row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 10px;
}

li {
  width: 80%;
  height: 40.98px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  list-style-type: none;
}

li span {
  margin: 1.5px;
}
li i {
  color: red;
  margin: 1.5px;
}

li i:hover {
  color: rgb(204, 21, 21);
  cursor: pointer;
}
